@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Homemade+Apple&family=Manrope:wght@200..800&family=Pacifico&display=swap");
:root {
  --gg-primary-color: #ff0000;
  --gg-secondary-color: #bc0404;
  --gg-black-secondary: #343400;
  --gg-black-primary: #000;
  --gg-white-primary: #fff;
  --gg-white-secondary: #ffcdcd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  scroll-behavior: smooth;
}

/* ================================================================== */
/* section 1: navigation and the artist image and song transitioning */
/* ================================================================ */

.hero {
  background-image: url(../images/vintage_player_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: all ease-in-out .3s;
}

.artist-display {
  height: 100vh;
  background-color: var(--gg-white-secondary);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5rem;
  background-color: black;
  border-bottom: 2px solid var(--gg-secondary-color);
  position: fixed;
  width: 100%;
  height: fit-content;
  z-index: 2;
}

/* g2g logo */
.g2g-logo {
  max-width: 4rem;
  height: fit-content;
}

.g2g-logo img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* navigation */
.nav-bar {
  height: fit-content;
}

.nav-bar li {
  list-style-type: none;
  font-size: 17px;
  font-weight: 600;
  padding: 7px;
  cursor: pointer;
}

.nav-bar a {
  text-decoration: none;
  color: var(--gg-white-primary);
}

.nav-items {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0;
  height: fit-content;
  gap: 25px;
}

.nav-item {
  position: relative;
}

/* Apply styles to the bottom border */
.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--gg-secondary-color);
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

/* social media icons */
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.media a {
  text-decoration: none;
  color: var(--gg-white-primary);
  font-size: 25px;
}

.media a:hover {
  transition: all ease-in-out 0.3s;
  color: var(--gg-secondary-color);
}

/* toggle button */

header .toggle-btn {
  color: var(--gg-white-primary);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

header .toggle-btn:hover {
  color: var(--gg-secondary-color);
  transition: all ease-in-out 0.3s;
}

/* music title and play button */
.intro-music {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0px 5rem;
  position: relative;
  top: 20rem;
}

.listen-now a {
  color: var(--gg-white-primary);
  text-decoration: none;
  border-bottom: 3px solid white;
  font-weight: 300;
  font-size: 0.8em;
}

.listen-now a:hover {
  border-bottom: 3px solid var(--gg-secondary-color);
}

.music-title {
  text-align: right;
  width: fit-content;
}

.music-title h1 {
  color: var(--gg-white-primary);
  font-size: 8rem;
  font-weight: 300;
  text-align: end;
}

.music-title h5 {
  color: white;
  width: fit-content;
}

/* highlight of song lyrics */

.lyric {
  width: fit-content;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  rotate: -10deg;
  bottom: 9rem;
  left: 40em;
  padding: 10px;
}

.lyric h6 {
  font-size: 15px;
  font-weight: 200;
}

/* ============================================ */
/* section 2: About G2G entertainment industry */
/* ===========================================*/

.about-us {
  height: 100vh;
  color: var(--gg-white-primary);
  background-color: black;
  overflow: hidden;
  padding: 5rem 0 5rem 0;
}
.about-heading {
  max-width: fit-content;
  margin: 0 auto;
}

.about-us h1 {
  font-size: 10rem;
  font-weight: 300;
}

/* about and logo part of the about */

.about-p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 300;
}

/* contact section styli */
/* Header styles */
#contact {
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 100vh;
}

/* Main styles */
.contact {
  color: var(--gg-black-primary);
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical; /* Allow vertical resizing */
}

button[type="submit"] {
  background-color: var(--gg-black-primary);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1c1c1c;
}

/* ============================================ */
/* ============================================ */
/* ==== g2g website: responsiveness styling ====*/
/* ============================================ */
/* ============================================ */

/* responsive to mobile devices */
@media (min-width: 319px) and (max-width: 480px) {
  /* =================================== */
  /* ==== HERO AND HEADER SECTION ====== */

  .hero {
    background-size: cover; /* Ensure image covers entire screen */
    background-attachment: fixed;
    height: 90vh;
  }
  .nav-bar,
  .social-media {
    display: none;
  }

  header {
    padding: 10px 15px;
  }

  .g2g-logo {
    max-width: 4rem;
  }

  header .toggle-btn {
    display: inline-block;
  }
  .intro-music {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .intro-music h1 {
    font-size: 5rem;
  }

  .intro-music h5 {
    margin: 0 auto;
    padding: 15px 0px;
    font-size: 20px;
  }
  .listen-now a {
    background-color: var(--gg-black-primary);
    color: white;
    border-bottom-color: black;
    padding: 3px;
    font-weight: 500;
  }

  .listen-now a:hover {
    background-color: #333;
    scale: 2;
  }

  /* =================================== */
  /* ======== ABOUT SECTION =========== */

  .about-us {
    width: 100%;
    height: 100vh;
  }

  .about-heading {
    max-width: 100%;
    text-align: center;
  }

  .about-heading h1 {
    font-size: 5rem;
    /* padding-bottom: 10px; */
  }

  .about-p {
    text-align: center;
    width: 85%;
    font-size: 17px;
  }
}

/* responsive to tablets and ipads */
@media (min-width: 481px) and (max-width: 1200px) {
  /* =================================== */
  /* ==== HERO AND HEADER SECTION ====== */
  .hero {
    background-size: cover; /* Ensure image covers entire screen */
    background-attachment: fixed;
    height: 100vh;
  }
  .nav-bar,
  .social-media {
    display: none;
  }

  header {
    padding: 10px 20px;
  }

  .g2g-logo {
    max-width: 4rem;
  }

  header .toggle-btn {
    display: inline-block;
  }
  .intro-music {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .intro-music h1 {
    font-size: 7rem;
  }

  .intro-music h5 {
    margin: 0 auto;
    padding: 15px 0px;
    font-size: 20px;
  }
  .listen-now a {
    background-color: var(--gg-black-primary);
    color: white;
    border-bottom-color: black;
    padding: 3px;
    font-weight: 500;
  }

  .listen-now a:hover {
    background-color: #333;
  }

  /* =================================== */
  /* ======== ABOUT SECTION =========== */

  .about-us {
    width: 100%;
    height: 85vh;
  }

  .about-heading {
    max-width: 100%;
    text-align: center;
  }

  .about-heading h1 {
    font-size: 7rem;
    padding-bottom: 10px;
  }

  .about-p {
    text-align: center;
    width: 85%;
  }
}

/* responsive to PCs and macs */
@media (min-width: 1201px) and (max-width: 1600px) {

}

/* responsive to desktops */
@media (min-width: 1601px) {

}
